- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:role)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:last_sign_in_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.email, user_path(user)
        %td= user.role
        %td= user.name
        %td= user.last_sign_in_at
        %td
          = link_to("Edit", edit_user_path(user), class: 'btn btn-mini') if can?(:edit, user)
          = link_to("Delete", user_path(user), method: :delete,
            data: { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger') if can?(:delete, user)

= link_to("New", new_user_path, class: 'btn btn-primary') if can?(:create, @users)
