- model_class = Album

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:public)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @albums.each do |album|
      %tr
        %td= link_to album.name, album_path(album)
        %td= album.public ? "Yes" : "No"
        %td=l album.created_at
        %td
          = link_to("Edit", edit_album_path(album), class: 'btn btn-mini') if can?(:edit, album)
          = link_to("Delete", album_path(album), method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger') if can?(:delete, album)

= link_to("New", new_album_path, class: 'btn btn-primary') if can?(:create, Album)
